---
//style imports
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
	firstName: "Keldan",
	country: "USA",
	occupation: "Project Manager",
	hobbies: ["MTG", "R6", "web dev"]
	}
    const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
    
    const happy = true;
    const finished = false;
    const goal = 3;
    const skillColor = "navy";
    const fontWeight = "bold";
    const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>   <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                 color: purple;
                font-size: 4rem;
             }
             .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
             }
        </style>
		<h1>{pageTitle}</h1>
		<h2>Subtitle</h2>
        <h2>Bonuse Subtitle</h2>
        <p>This is purely filler text. I will not take this opportunity to journal. Instead I will postulate about hunan existance. Or not, lol. Not to self... update the Hedron Alignment cube list tomorrow morning.</p>
	<p>Here are a few facts about me:</p>
    <ul>
        <li> My name is {identity.firstName}.</li>
        <li> I live in {identity.country} and I work as {identity.occupation}</li>
        {identity.hobbies.length >= 2 && <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}.</li>}
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}</BaseLayout>